
body{
    background-color: rgb(14, 14, 14);
}


#image1{
    width: calc(100% / 3);
    height: 100vh;
}

.itemLayout{
    display: flex;
    justify-content: space-between;

}

.itemLayout > .backgroundInfo{
  width: calc(100% / 3);
  background-color: #e4dddd;
  height: 100vh;
 
}

.itemLayout > #formSection{
    width: calc(100% / 3);
    height: 100vh;
    background-color: blue;
}

.backgroundInfo > #para1, #para2, #para3{
    margin-left: 7px;
}

.backgroundInfo > #video1{
    width: calc(100% / 3.2);
    height: 500px;
}












