
body{
    background-color: rgb(14, 14, 14);
}


#image1{
    width: calc(100% / 3);
}

.itemLayout{
    display: flex;
    justify-content: space-between;

}

.itemLayout > #backgroundInfo{
  width: calc(100% / 3);
  background-color: #e4dddd;
  height: 100vh;
}

.itemLayout > #formSection{
    width: calc(100% / 3);
    height: 100vh;
    background-color: blue;
}








